@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Raleway", sans-serif;
}
/* shared-styles */
.primary-color {
  color: #4e47ff;
}
.btn-primary {
  background-color: #4e47ff;
  color: #ffffff;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

/* header-style */
.header {
  background-image: url("../Assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 0px 150px;
}
.logo {
    font-size: 34px;
    font-weight: 700px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 237px;
}
.hero-title {
  font-size: 65px;
}
/* main-styles */
main {
  max-width: 1000px;
  margin: 0 auto;
}
/* action-styles */
.action {
  display: flex;
  gap: 80px;
  margin: 116px auto;
  align-items: center;
}
.action-col {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.action-title {
  font-size: 42px;
}
.action-img {
  width: 403px;
  height: 328;
  border-radius: 50px;
  margin-left: 100px;
}
.action-description {
  color: #252432;
}
