@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Inter", "Raleway", sans-serif;
}
body {
  background-color: #f5f8ff;
}
/* shared-styles */
.primary-color {
  color: #4e47ff;
}
.btn-primary {
  background-color: #4e47ff;
  color: #ffffff;
  padding: 12px 36px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}
.btn-primary:hover {
  background-color: #f0c413;
  transform: scale(1.05);
  color: black;
}

.secondary-bg {
  background-color: #e5e7ff;
  border-radius: 24px;
}

/* header-style */
.header {
  background-image: url("../Assets/Hero-bg.png");
  background-size: auto;
  padding: 0px 150px;
}
.logo {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 700;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 237px;
}
.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
}
/* main-styles */
main {
  max-width: 1000px;
  margin: 0 auto;
}
/* action-styles */
.action {
  display: flex;
  gap: 80px;
  margin: 116px auto;
  align-items: center;
}
.action-col {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.action-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
}
.action-img {
  width: 403px;
  height: 328;
  border-radius: 50px;
  margin-left: 100px;
}
.action-description {
  color: #252432;
}
/* pro-user-styles */
.pro-user {
  font-size: 38px;
  font-weight: bold;
  padding: 50px 80px;
}
.pro-user-title {
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.counts {
  font-family: "Inter", sans-serif;
}
.pro-user-counts {
  display: flex;
  justify-content: space-around;
}
.pro-user-subtitle {
  font-size: 20px;
  font-weight: 200;
}

/* user-feedback-section */
.users-feedback-title {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 42px;
}
.feedback-cards {
  display: flex;
  gap: 20px;
}
.card {
  background-color: #fafcff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 15px;
}
.card-title {
  margin-bottom: 5px;
  font-size: 20px;
}
.card-subtitle {
  margin-top: 0px;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #757575;
}
.user-img {
  height: 45px;
  border-radius: 50%;
}
/* get-in-touch-styles */
.contact {
  display: flex;
  gap: 80px;
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
}

.contact-col {
  width: 50%;
}

.contact-title {
  font-family: "Raleway", sans-serif;
  font-size: 80px;
  color: #000000;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #e6e4e4;
  border-radius: 6px;
  font-size: 16px;
}

.contact-form textarea {
  min-height: 120px;
}

.contact-form .btn-primary {
  margin-top: 20px;
  width: 100%;
}

/* footer-section */
.footer {
  background-color: #ffffff;
  padding: 70px 350px;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.footer-logo {
  font-family: "Inter", sans-serif;
  font-size: 100px;
  font-weight: 800;
  margin-bottom: 20px;
}

.footer-description {
  color: #8987a1;
  margin-bottom: 30px;
}

.footer-menu {
  display: flex;
  gap: 15px;
  list-style: none;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.footer-menu li a {
  text-decoration: none;
  color: #8987a1;
  cursor: pointer;
}

/* focus-better-section */
.focus-better-section {
  margin-top: 100px;
  text-align: center;
}
.focus-title {
  font-size: 45px;
}
.focus-img {
  width: 800px;
  border-radius: 50px;
  margin: 50px;
}
